.App {
  background-color: #f4f4f4;
  min-height: 100vh;
}
ul.trans-list {
  list-style: none;
  padding: 0;
}

ul.trans-list button {
  float: right;
}


.form-control.border-0 {
  background-color: transparent;
}
form{
  text-align: center;
}
form  input{
  border: 1px solid #e9e3e3;
}


.form-control{
  background-color: transparent;
  text-align: left;
}

form input {
  border: 1px solid #e9e3e3;
  outline: none;
}

.container.cont {
  background-color: #fff;
  padding: 20px 20px;
}

ul.trans-list li {
  line-height: 2;
  background-color: #f4f4f4!important;
}

.form-control {
  padding-right: 0;
  padding-left: 0;
}

form input {
  border: 0;
  outline: none;
  background-color: #f4f4f4;
  margin-top: 5px;
  line-height: 2;
}